<!DOCTYPE html>
<html>
   <head>
      <title>Tiny url microservice | Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn4.iconfinder.com/data/icons/marketing-32/512/GEO_target-20.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h1>Tiny url microservice</h1>
        <p>Try /new/http://example.com to create tiny url for http://example.com then /tinyUrl to redirect</p>
        <p>Example <a href="/aMFxx" target="_blank">tiny url for pinterest.com</a></p>
      </div>
   </body>
</html>